@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <p class="home-page__main-text1">Hello world.</p>
    <p class="home-page__main-text2">I am</p>
    <p class="home-page__main-text2">Taras Taranko</p>
    <div class="bg-photo"></div>
</div>
