@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <a asp-area="" asp-controller="About" asp-action="Index" class="home-page__main-text1">Hello world.</a>
    <a asp-area="" asp-controller="Resume" asp-action="Index" class="home-page__main-text2">I am</a>
    <a asp-area="" asp-controller="Projects" asp-action="Index" class="home-page__main-text2">Taras Taranko</a>
    <a asp-area="" asp-controller="Contacts" asp-action="Index" class="home-page__main-text2">.NET developer</a>
    <div class="bg-photo"></div>
</div>
