@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <div class="hover-div-margin" id="hover-div">
        <a asp-area="" asp-controller="About" asp-action="Index" class="home-page__main-text1 appearance-annimation">Hello world.</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a asp-area="" asp-controller="Resume" asp-action="Index" class="home-page__main-text2  appearance-annimation">I am</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a asp-area="" asp-controller="Projects" asp-action="Index" class="home-page__main-text2  appearance-annimation">Taras Taranko</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a asp-area="" asp-controller="Contacts" asp-action="Index" class="home-page__main-text2  appearance-annimation">.NET developer</a>
    </div>
    <div class="bg-photo"></div>
</div>
<script src="~/js/home.js" asp-append-version="true"></script>
