.logo {
    margin-top: 20px;
    margin-left: 20px;
    color: var(--main-text-white);
    font-family: Graphik-Semibold;
    font-size: 1.8rem;
    font-weight: normal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 3px solid var(--main-text-white);
    border-radius: 0 0 20px 20px;
    padding: 4px;
}
.header {
    min-height: 50px;
}
.container {
    margin: 0 20vw;
}

.title1,
.title2 {
    color: var(--main-text-white);
    font-family: Graphik-Semibold;
    font-size: 3.0rem;
    font-weight: normal;
    margin-right: 5px;
    margin-left: 5px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.title-title {
    color: var(--main-text-white);
    font-family: Graphik-Semibold;
    font-size: 2.3rem;
    font-weight: normal;
}

.information {
    color: var(--main-text-white);
    font-family: Graphik-Semibold;
    font-size: 1.5rem;
    font-weight: normal;
}

.title2 {
    color: var(--main-text-red);
}

.title_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
}

@media(max-width: 900px) {
    .title_div {
        flex-direction: column;
    }
}

@media(max-width: 450px) {
    .title1,
    .title2 {
        font-size: 2.5rem;
    }
}

.title-title_div {
    margin-top: 80px;
}

.information_div {
    margin-top: 30px;
}