<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <a asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>



    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
