@{
    ViewData["Title"] = "Resume";
}

<div class="title_div">
    <p class="title1">I am</p>
    <p class="title2">Taras Taranko</p>
    <p class="title1">.NET developer.</p>
</div>
<div class="title-title_div container">
    <p class="title-title">Resume</p>
</div>
<div class="information_div container">
    <div class="resume--hover-div-margin" id="resume--hover-div">
        <a class="resume--information" href="./files/CV.pdf" download>My resume(pdf, 109kb)</a>
    </div>
    <div class="resume--hover-div-margin" id="resume--hover-div">
        <a class="resume--information" href="./files/CV.docx" download>My resume(docx, 109kb)</a>
    </div>
</div>
<script src="~/js/resume.js" asp-append-version="true"></script>
