@{
    ViewData["Title"] = "About";
}

<div class="title_div">
    <p class="title1">I am</p>
    <p class="title2">Taras Taranko</p>
    <p class="title1">.NET developer.</p>
</div>
<div class="title-title_div container">
    <p class="title-title">About</p>
</div>
<div class="information_div container">
    <p class="information">My main goal is to develop high-quality solutions based on .NET for modern and demanding projects. I aspire to join a team that transforms great ideas into real products, contributing to innovative development.</p>
    <p class="information">I possess diverse expertise in .NET development, with skills in working with C#, ASP.NET, Entity Framework, and other key technologies. I have experience creating web applications, APIs, and interacting with databases.</p>
    <p class="information">I believe in a systematic approach to problem-solving. My work is rooted in thorough analysis and planning, accompanied by attention to detail. I am open to collaboration and continuously strive to enhance our processes.</p>
    <p class="information">I am studying for a bachelor's degree in "Software Engineering" at the Lviv Polytechnic National University. I gain new knowledge through online courses and self-study.</p>
    <p class="information">Outside of work, I enjoy playing the piano and playing computer games. Eager to explore new cultures and experiences, I am always ready to discover new places and explore the world.
    </p>
</div>
<script src="~/js/about-me.js" asp-append-version="true"></script>