@{
    ViewData["Title"] = "About";
}

<div class="title_div">
    <p class="title1">I am</p>
    <p class="title2">Taras Taranko</p>
    <p class="title1">.NET developer.</p>
</div>
<div class="title-title_div container">
    <p class="title-title">About</p>
</div>
<div class="information_div container">
    <p class="information">Information about me...</p>
</div>
<script src="~/js/about-me.js" asp-append-version="true"></script>