@{
    ViewData["Title"] = "About";
}

<div class="about-page__title_div">
    <p class="about-page__title1">I am</p>
    <p class="about-page__title2">Taras Taranko</p>
    <p class="about-page__title1">.NET developer.</p>
</div>
<div class="about-page__title-title_div about__container">
    <p class="about-page__title-title">About</p>
</div>
<div class="about-page__information_div about__container">
    <p class="about-page__information">Information about me...</p>
</div>