@{
    ViewData["Title"] = "Contacts";
}

<div class="title_div">
    <p class="title1">I am</p>
    <p class="title2">Taras Taranko</p>
    <p class="title1">.NET developer.</p>
</div>
<div class="title-title_div container">
    <p class="title-title">Contacts</p>
</div>
<div class="information_div container">
    <div class="contacts--hover-div-margin" id="contacts--hover-div">
        <a id="copyLink" class="contacts--information">tarankotaras.net@gmail.com</a>
    </div>
    <div class="contacts--hover-div-margin" id="contacts--hover-div">
        <a class="contacts--information" href="https://t.me/TarasTaranko" target="_blank">Telegram</a>
    </div>
    <div class="contacts--hover-div-margin" id="contacts--hover-div">
        <a class="contacts--information" href="https://instagram.com/taras_633?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D" target="_blank">Instagram</a>
    </div>
    <div class="contacts--hover-div-margin" id="contacts--hover-div">
        <a class="contacts--information" href="viber://chat?number=+380676023117" target="_blank">Viber</a>
    </div>
    <div class="contacts--hover-div-margin" id="contacts--hover-div">
        <a class="contacts--information" href="https://www.linkedin.com/in/taras-taranko-3b0a7b288" target="_blank">Linkedin</a>
    </div>  
</div>
<script src="~/js/contacts.js" asp-append-version="true"></script>