@{
    ViewData["Title"] = "Contacts";
}

<div class="title_div">
    <p class="title1">I am</p>
    <p class="title2">Taras Taranko</p>
    <p class="title1">.NET developer.</p>
</div>
<div class="title-title_div container">
    <p class="title-title">Contacts</p>
</div>
<div class="information_div container">
    <div class="hover-div-margin" id="hover-div">
        <a class="information">tarankotaras.net@gmail.com</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a class="information">Telegram</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a class="information">Instagram</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a class="information">Viber</a>
    </div>
    <div class="hover-div-margin" id="hover-div">
        <a class="information">Linkedin</a>
    </div>  
</div>
<script src="~/js/contacts.js" asp-append-version="true"></script>